arrow==0.14.7
certifi==2021.10.8
charset-normalizer==2.0.12
fire==0.4.0
icalendar==4.0.9
idna==3.3
numpy==1.22.2
pandas==1.4.1
Pillow==9.0.1
python-dateutil==2.8.2
pytz==2021.3
recurring-ical-events==1.0.1b0
requests==2.27.1
six==1.16.0
TatSu==5.6.1
termcolor==1.1.0
urllib3==1.26.8
x-wr-timezone==0.0.4
